{{ partial "head" . }}

<body class="wrap">
  {{ partial "analytics" . }}
  {{ partial "navbar" . }}

  <div class="container mt-4">
    <h1>{{ .Title }}</h1>
    
    <span class="text-muted mb-4">Posted on <b class="post_date">{{ .Date.Format "02/01/2006" }}</b> by <b class="post_author">{{ .Params.author }}</b></span>

    {{ range .Params.tags }}
    <span class="badge bg-light text-dark post_tag">{{ . }}</span>
    {{ end }}
  
    <div class="mt-4">
    {{ .Content }}
    </div>

    <!-- <h1>Commentaires</h1>
    {{ template "_internal/disqus.html" . }} -->
  </div>

  {{ partial "footer" . }}
</body>
</html>