<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #132651;">
  <div class="container">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
      <img src="/images/logo.png" alt="" height="24" class="d-inline-block align-text-top">
      Blog
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/posts.html">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about.html">About us</a>
        </li>
      </ul>
      <span class="navbar-text">
        <a target="_blank" href="https://fr.linkedin.com/company/wyll"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
      </span>
    </div>
  </div>
</nav>