<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h5>
        <h6 class="card-subtitle mb-2 text-muted">Posted on <b>{{ .Date.Format "02/01/2006" }}</b> by <b>{{ .Params.author }}</b></h6>
        {{ range (.GetTerms "tags") }}
        <span class="badge badge-primary">{{ .LinkTitle }}</span>
        {{ end }}
        <p class="card-text">
        {{ .Summary }}
        </p>
        <a href="{{ .RelPermalink }}" class="btn btn-secondary mt-4 float-right">Read more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </div>
</div>