html, body
{
  background-color: #e8eaee;
  min-height: 100%;
}

.highlight pre
{
  padding: 5px;
}

.footer
{
  background-color: #132651;
  height: 100px;
}

.card-title a
{
  text-decoration: none;
}