html, body
{
  background-color: #e8eaee;
  min-height: 100%;
}

.highlight pre
{
  padding: 10px;
}

.footer
{
  background-color: #132651;
  margin-top: auto;
}

.card-title a
{
  text-decoration: none;
  color: #132651;
}

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

